# OS Specific
.DS_Store

#data folder
**/common/data/split

# Build output
**/dist/
**/build/

# Dependencies
node_modules
**/*.der
**/*.pem
**/*.keystore
**/*.jks
**/node_modules
**/git_modules/

package-lock.json
common/data/final_animes_miru.json
